@import "utils";

.cart__overlay {
  position: fixed;
  inset: 0;
  background-color: #39374838;
  z-index: 10;
  padding-top: $header-height;
  transform: scale(0);
  opacity: 0;
  transition: transform 0ms 200ms, opacity 200ms 0ms;

  &.open {
    transform: scale(1);
    opacity: 1;
    transition: transform 0ms 0ms, opacity 400ms 0ms;
  }

  .cart__box {
    width: 410px;
    max-height: calc(100vh - 100px);
    margin-left: auto;
    padding: 32px 16px 20px;
    padding-right: 10px;
    @include grid;

    .cart-error {
      margin-top: 5px;
      font-size: 1.5rem;
      color: red;
      background-color: rgba(255, 0, 0, 0.2);
      border-radius: 5px;
      text-align: center;
      font-weight: 500;
      padding: 5px 20px;
      margin-inline: auto;
      border: 1px solid red;
    }
    .cart-spinner {
      position: relative;
      min-height: 100px;
    }

    .cart-empty {
      text-align: center;
      font-weight: 500;
      padding: 5px 20px;
      font-size: 1.5rem;
      margin-inline: auto;
    }

    h3 {
      font-size: 1rem;
      font-weight: 700;
      span {
        font-weight: 400;
      }
    }

    .cart__items {
      min-height: 170px;
      height: 100%;
      max-height: calc(100vh - 300px);
      overflow-y: auto;
      @include grid;

      .cart__item {
        display: grid;
        grid-template-columns: 3fr 2fr;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 1rem;

        .product {
          @include flex(space-between, flex-start);
          height: 100%;
          position: relative;

          .product__description {
            @include grid(10px);
            h2,
            h1 {
              font-size: 1em;
              font-weight: 300;
            }

            & > span {
              font-weight: 500;
              font-size: 1em;
            }
            .product__attributes {
              @include grid(5px);
            }

            .product__attribute {
              @include grid(5px);
              h6 {
                font-weight: 400;
                text-transform: capitalize;
                font-size: 14px;
              }

              .product__attribute-color {
                padding-left: 5px;
                .attr__group {
                  width: 20px;
                  border: 1px solid $secondary-black;
                  &.attr__selected {
                    border: none;
                  }
                }
              }

              .product__attribute-text {
                gap: 8px;
                .attr__group {
                  min-width: 35px;
                  width: fit-content;
                  height: 32px;
                  padding-inline: 2px;
                  font-size: 12px;
                  font-weight: 500;
                }
              }
            }
          }
          .product__action {
            position: absolute;
            @include flex(space-between);
            flex-direction: column;
            height: 100%;
            top: 0;
            right: 0;

            button {
              border: 1px solid $secondary-black;
              width: 20px;
              aspect-ratio: 1;
              font-size: 2rem;
              font-weight: 300;
              @include flex;
              svg {
                width: 8px;
              }
            }
          }
        }
      }

      .product__img {
        img {
          @include fit-image;
        }
      }
    }

    .cart__total {
      width: 100%;
      @include grid;

      > div {
        @include flex(space-between);
        width: 100%;
      }

      .total {
        span {
          font-weight: 500;
          font-size: 1rem;
          span{
            font-size: .9rem;
            font-weight: 400;
          }
        }
      }
      .cart__links {
        margin-top: 10px;
        a,
        button {
          text-transform: uppercase;
          padding: 13px 25px;
          border: 1px solid #1d1f22;
          font-weight: 600;
          font-size: 1rem;
        }
        button {
          @include btn-color;
          transition: background-color 200ms;
          &:hover {
            background-color: $light-green;
          }
        }
      }
    }
  }
}
