@import "utils";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-block: $header-height;
  color: $secondary-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $secondary-black
}

button {
  font: $primary-font;
  background: none;
  border: none;
  cursor: pointer;
}
ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

main{
  background-color: $primary-white;
}

.page{
  --spacing: #{$header-height};
  padding-top: var(--spacing);
  width: 100%;
}

.container {
  max-width: 1300px;
  padding-inline: 40px;
  margin-inline: auto;
  width: 100%;
}

.product__attribute {
  @include grid(10px);
  h6 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .product__attribute-text,
  .product__attribute-color {
    display: flex;
    gap: 10px;

    .input__wrapper {
      border-radius: 3px;

      input[type="radio"] {
        display: none;
      }

      label {
        width: 100%;
        height: 100%;
        @include flex;
        cursor: pointer;
        transition: color 200ms, background-color 200ms;
      }
    }
  }
  .product__attribute-text {
    .attr__group {
      border-radius: 3px;
      @include flex;
    }
    .attr__selected {
      background-color: $secondary-black;
      color: $primary-white;
    }
    .input__wrapper,
    .attr__group {
      width: 63px;
      height: 45px;
      border: 1px solid $secondary-black;

      input[type="radio"]:checked + label {
        background-color: $secondary-black;
        color: $primary-white;
      }
    }
  }

  .product__attribute-color {
    .input__wrapper,
    .attr__group {
      width: 32px;
      aspect-ratio: 1;
      background-color: var(--color);
      position: relative;

      label {
        border: 1px solid $secondary-black;
        transition: border-color 200ms, box-shadow 200ms;
      }

      input[type="radio"]:checked + label {
        box-shadow: 0 0 0 2px white, 0 0 0 4px $secondary-black;
        border-color: transparent;
      }
    }

    .attr__selected {
      box-shadow: 0 0 0 2px white, 0 0 0 4px $secondary-black;
      border-color: transparent;
    }
  }
}



// intro loading styling

$boxes: 2;
$durationAll: 1s;
$duration: -$durationAll / $boxes;
$loader-height: 5px;
$color: $primary-green;

.intro__wrapper {
  position: fixed;
  inset: 0;
  z-index: 99999;
  @include flex;

  .loading__box {
    margin-bottom: 200px;
    @include flex;
    width: 200px;
    height: 150px;
    position: relative;

    .logo {
      position: relative;
      z-index: -1;

      transition: transform 1000ms ease-in, opacity 600ms ease-in;
      svg {
        transform: scale(3);
      }
    }

    .wrapper {
      position: absolute;
      width: 100%;
      height: $loader-height;
      bottom: 0;
      transition: opacity 500ms 200ms;

      .loader {
        height: 100%;
        display: flex;
        transform: translateZ(0);
      }
      div {
        flex: 1;
        background: #{$color};
        animation: go #{$durationAll} infinite alternate ease;
        box-shadow: 0 0 20px #{$color};

        &:nth-child(1) {
          animation-delay: $duration * ($boxes - 1);
        }
        &:nth-child(2) {
          animation-delay: $duration * ($boxes - 2);
        }
      }
    }
  }

  &.loading-end {
    .loading__box {
      .logo {
        transform: translateY(70px);
        opacity: 0;
      }
      .wrapper {
        opacity: 0;
      }
    }
  }
}

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

// skeleton styling
.skeleton {
  width: 100%;
  background-color: $light-black;
  aspect-ratio: 1;

  position: relative;
  z-index: 99;
  animation: skeleton__animation 1s linear infinite;
}

@keyframes skeleton__animation {
  0% {
    background-color: $light-black;
  }
  50% {
    background-color: $semi-light-black;
  }
  100% {
    background-color: $light-black;
  }
}

// error page

.error__page {
  margin-block: 100px;
  width: 100%;
  .header {
    margin-inline: auto;
    font-size: 3rem;
    font-weight: 500;
    width: max-content;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    color: rgba(255, 0, 0, 0.7);
    padding: 30px 50px;
    @include flex;
    span {
      margin-right: 1rem;
      width: 40px;
      display: inline-block;
      margin-bottom: -10px;
      svg {
        width: 100%;
        path {
          fill: rgba(255, 0, 0, 0.7);
        }
      }
    }
  }
}
