@import "utils";

.product--page {
  width: 100%;
  background-color: $primary-white;

  .container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 5rem;

    .product__images {
      display: grid;
      grid-template-columns: 90px auto;
      gap: 3rem;
      align-items: flex-start;

      .product__images-gallery {
        display: grid;
        gap: 1rem;
        img {
          cursor: pointer;
          @include fit-image;
        }
      }

      .product__images-main {
        img {
          @include fit-image;
          object-fit: contain;
        }
      }
    }

    .product__info {
      
      h2 {
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      h1 {
        font-size: 30px;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      .product__attributes {
        display: grid;
        gap: 1rem;
      }
      .product__price {
        margin-top: 1rem;

        h4 {
          text-transform: uppercase;
          margin-bottom: 10px;
          font-size: 1rem;
          font-weight: 700;
        }
        span {
          font-weight: 700;
          font-size: 20px;
        }
      }

      .product__cart-btn {
        background-color: $primary-green;
        margin-block: 1.4rem 1rem;
        width: 100%;
        color: $primary-white;
        text-transform: uppercase;
        font-weight: 600;
        padding: 1rem;
        border: 1px solid currentColor;
        transition: color 200ms, border-color 200ms, background-color 200ms;

        &:not(.btn-disabled):hover {
          color: $primary-green;
          background-color: transparent;
        }
      }

      .product__description {
        font-weight: 500;
        font-size: 1rem;

        ul {
          margin-top: 1rem;
          display: grid;
          gap: 5px;
          li {
            padding-left: 10px;

            &::marker {
              font-weight: 900;
              content: ">";
            }
          }
        }
      }
    }
  }
}
