


@mixin flex($justify:center, $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


@mixin  max-width {
    max-width: 1300px;
    padding-inline: 40px;
    margin-inline: auto;
}

@mixin fit-image{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}