
// colors
$primary-white:white;
$secondary-black:#1D1F22;
$semi-light-black:#66686a;
$light-black:#898c8e;

$secondary-gray:#1D1F22;
$light-gray:#E5E5E5;

$primary-green:#5ECE7B;
$light-green:rgba(94, 206, 123, .7);


// typography
$primary-font: 'Raleway' ;
$text-md:1rem;

// misc
$header-height:60px;