
// colors
$primary-white:white;
$primary-green:#5ECE7B;

$secondary-gray:#1D1F22;
$secondary-black:#1D1F22;
$light-gray:#E5E5E5;


// typography
$primary-font: 'Raleway' ;
$text-md:1rem;

// misc
$header-height:60px;